---
---
<!DOCTYPE html>
<html>
    <head>
    <style>
        span,p {
            font-size: 45px;
        }
    </style>
    </head>
    <script src="{{site.url}}/js/tonejs.js"></script>
    <script src="{{site.url}}/js/tonejs-instruments.js"></script>
    <script>
        var piano = SampleLibrary.load({
            instruments: "piano"
        });

        Tone.loaded().then(() => {
	        document.getElementById('play').disabled = false;
        });

        function play() {
            piano.toMaster();
            piano.triggerAttack("A3");
            piano.triggerAttack("Eb4");
        }
    </script>
    <body>

        <h2>Can you hear it?</h2>
        <button id="play" onclick="play()" disabled>Play</button>
    </body>
</html>