---
---
<!DOCTYPE html>
<html>
    <head>
    <style>
        span,p {
            font-size: 45px;
        }
    </style>
    </head>
    <script src="{{site.url}}/js/tonejs.js"></script>
    <script src="{{site.url}}/js/tonejs-instruments.js"></script>
    <script src="{{site.url}}/js/teoria.js"></script>
    <script>
        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
        }
        function filter(array) {
            var result = [];
            for(key in array) {
                if(array[key]) result.push(key)
            }
            return result;
        }
        function mapIntervalNametoValue(intervalName) {
            switch (intervalName) {
                case 'minor-second': return 'm2';
                case 'major-second': return 'M2';
                case 'minor-third': return 'm3';
                case 'major-third': return 'M3';
                case 'perfect-fourth': return 'P4';
                case 'tritone': return 'A4';
                case 'perfect-fifth': return 'P5';
                case 'minor-sixth': return 'm6';
                case 'major-sixth': return 'M6';
                case 'minor-seventh': return 'm7';
                case 'major-seventh': return 'M7';
            }
        }
        var piano = SampleLibrary.load({
            instruments: "piano"
        });
        var checkboxes = [];
        var enabledIntervals = [];
        var index = 0;

        Tone.loaded().then(() => {
	        document.getElementById('play').textContent = 'Play';
	        document.getElementById('play').disabled = false;
	        document.getElementById('stop').textContent = 'Stop';
            document.getElementById('stop').disabled = false;

            checkboxClick('minor-second');
            checkboxClick('major-second');
            checkboxClick('minor-third');
            checkboxClick('major-third');
            checkboxClick('perfect-fourth');
            checkboxClick('tritone');
            checkboxClick('perfect-fifth');
        });

        function playNextInterval() {
            interval = enabledIntervals[index];
            console.log(`interval is ${interval}`);
            x = getRandomInt(0, 12);
            roots = ['C', 'Db', 'D', 'E', 'Eb', 'F', 'F#', 'G', 'Ab', 'A', 'Bb', 'B'];
            randomRoot = roots[x];

            beginEnd = document.getElementById('octaves-range').value.split('-');
            beginEnd[0] = parseInt(beginEnd[0])
            beginEnd[1] = parseInt(beginEnd[1])
            diff = beginEnd[1] + 1 - beginEnd[0];
            x = getRandomInt(0, diff);
            octaves = Array.from({length: diff}, (_, i) => i + beginEnd[0])
            randomOctave = octaves[x];

            note = teoria.note(randomRoot+randomOctave);
            secondNote = note.interval(mapIntervalNametoValue(interval));
            console.log(`played ${note} and ${secondNote}`);
            piano.triggerAttack(note.toString());
            piano.triggerAttack(secondNote.toString());

            index++;
            if(index >= enabledIntervals.length) {
                index = 0;
            }
        }

        function play() {
            piano.toMaster();
            index = 0; 
            Tone.Transport.scheduleRepeat((t) => {
                playNextInterval();
            }, "2n");
            Tone.Transport.bpm.value = 50;
            Tone.start();
            Tone.Transport.start();
        }
        function stop() {
            Tone.Transport.cancel();
            Tone.Transport.stop();
        }
        function checkboxClick(id) {
            checkboxes[id] = document.getElementById(id).checked
            enabledIntervals = filter(checkboxes);
            console.log(enabledIntervals);
            stop();
        }
    </script>
    <body>

        <h2>Can you hear it?</h2>
        <button id="play" onclick="play()" disabled>Loading...</button><br />
        <button id="stop" onclick="stop()" disabled>Loading...</button><br/>
        <label for="octaves-range">Zakres oktaw</label>
        <input id="octaves-range" name="octaves-range" type="text" value="3-5"><br/>
        <input type="checkbox" name="minor-second" id="minor-second" checked onclick="checkboxClick('minor-second')"/>
        <label for="minor-second">sekund mała</label>
        <input type="checkbox" name="major-second" id="major-second" checked onclick="checkboxClick('major-second')"/>
        <label for="major-second">sekund wielka</label><br/>
        <input type="checkbox" name="minor-third" id="minor-third" checked onclick="checkboxClick('minor-third')"/>
        <label for="minor-third">tercja mała</label>
        <input type="checkbox" name="major-third" id="major-third" checked onclick="checkboxClick('major-third')"/>
        <label for="major-third">tercja wielka</label><br/>
        <input type="checkbox" name="perfect-fourth" id="perfect-fourth" checked onclick="checkboxClick('perfect-fourth')"/>
        <label for="perfect-fourth">kwarta czysta</label><br/>
        <input type="checkbox" name="tritone" id="tritone" checked onclick="checkboxClick('tritone')"/>
        <label for="tritone">tryton</label><br/>
        <input type="checkbox" name="perfect-fifth" id="perfect-fifth" checked onclick="checkboxClick('perfect-fifth')"/>
        <label for="perfect-fifth">kwinta czysta</label><br/>
        <input type="checkbox" name="minor-sixth" id="minor-sixth" onclick="checkboxClick('minor-sixth')"/>
        <label for="minor-sixth">seksta mała</label>
        <input type="checkbox" name="major-sixth" id="major-sixth" onclick="checkboxClick('major-sixth')"/>
        <label for="major-sixth">seksta wielka</label><br/>
        <input type="checkbox" name="minor-seventh" id="minor-seventh" onclick="checkboxClick('minor-seventh')"/>
        <label for="minor-seventh">septyma mała</label>
        <input type="checkbox" name="major-seventh" id="major-seventh" onclick="checkboxClick('major-seventh')"/>
        <label for="major-seventh">septyma wielka</label>
    </body>
</html>