---
---
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            span,p {
                font-size: 45px;
            }
            button {
                height: 60px;
                font-size : 35px;
            }
            input {
                font-size: 35px;
            }
            input[type='checkbox'] {
                transform: scale(1.5);
            }
            label {
                font-size: 25px;
                padding: 10px;
            }
            #result {
                font-size: 35px;
                font-weight: 400;
            }
        </style>
    </head>
    <script src="{{site.url}}/js/teoria.js"></script>
    <script>
        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
        function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
        }
        function fifthsEnabledClicked() {
            fifthsCheckbox = document.getElementById('fifths-enabled');
            fifthsCheckbox.click();
            console.log(fifthsCheckbox.checked);
        }
        function generate() {
            r = getRandomInt(0, 12);
            roots = ['C', 'Db', 'D', 'E', 'Eb', 'F', 'F#', 'G', 'Ab', 'A', 'Bb', 'B'];
            root = roots[r];

            q = getRandomInt(0, 3);
            qualities = ['maj7', '-7', '7'];
            quality = qualities[q];

            
            fifthsCheckbox = document.getElementById('fifths-enabled');
            if(fifthsCheckbox.checked)
            {
                d = getRandomInt(0, 3);
                degrees = ['third', 'fifth', 'seventh'];
            } else {
                d = getRandomInt(0, 2);
                degrees = ['third', 'seventh'];
            }
            degree = degrees[d];

            console.log(`You need to guess what is ${degree} of ${root}${quality} chord`);
            return {
                root: root,
                quality: quality,
                degree: degree
            }
        }
        function check() {
            generated = generate();
            delay = parseInt(document.getElementById('delay').value);
            answerDegree = document.getElementById('answer-degree');
            answerRoot = document.getElementById('answer-root');
            answerChord = document.getElementById('answer-chord');
            questionDegree = document.getElementById('question-degree');
            questionChord = document.getElementById('question-chord');

            questionDegree.textContent = `${generated.degree}`;
            questionChord.textContent = ` of ${generated.root}${generated.quality} ?`;
            answerDegree.textContent = answerRoot.textContent = answerChord.textContent = '';
            setTimeout(function() {
                note = teoria.note(`${generated.root}4`);
                chord = note.chord(generated.quality);
                answerDegree.textContent = `${generated.degree} is`;
                answerRoot.textContent = capitalizeFirstLetter(`${chord.get(generated.degree).toString(true)}`);
                answerChord.textContent = `(${chord.notes().map(note => capitalizeFirstLetter(note.toString(true)))})`;
            }, delay*1000);
        }
    </script>
    <body>

        <h2>Guess chord notes</h2>
        <input type="text" id="delay" value="3" />
        <br/><br/>
        <div>
            <input type="checkbox" name="fifths-enabled" id="fifths-enabled" checked onclick="fifthsEnabledClicked()"/>
            <label for="fifths-enabled">Fifths enabled</label>
        </div>
        <br/><br/>
        <button onclick="check()">Next chord</button>
        <br/>
        <span>What is </span>
        <span id="question-degree" style="font-weight: 800;"></span>
        <span id="question-chord"></span>
        <br />
        <span id="answer-degree"></span>
        <span id="answer-root" style="font-weight: 800;"></span>
        <span id="answer-chord"></span>
    </body>
</html>